.body1{
    background-color: #b97171;
}
.bg-color{
    background-color: #000000;
}
.text-center{
    display: flex;
    justify-content: center;
}
.center1{
    justify-content: center;
   display: flex;
}
.bienvenida{
    color: #2977d5;
    font-family: 'Carter One', cursive;
}
.presentado{
    color: #7898ed;
    font-family: 'Carter One', cursive;
}
.parrafo{
    color: #b0beff;
    font-family: 'Carter One', cursive;
}
.text-boton{
    background-color: #547ff5;
    color: #00ff9d;
    font-family: 'Koulen', cursive;
}
.text-boton:hover{
    background-color: #00ff9d;
    color: #547ff5;
    font-style: italic;
    font-family: 'Koulen', cursive;
}
.sesion{
    color: #f9f9f9;
}
.esquinas{
    color: #000000;
    background-color: #fefeff;
    font-family: 'Carter One', cursive;
}
.esquinas:hover{
    color: #61c09c;
    background-color: #0066ff;
    font-family: 'Carter One', cursive;
    font-style: italic;
}
.nombre{
    color: #000000;
    font-family: 'Carter One', cursive;
}
th{
    color: #b9aaaa;
    font-family: 'Carter One', cursive;
}